<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page_title if page_title else "Storkive Digital Library" }}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif" />
  <link rel="stylesheet" href="{{ static('base.css') }}" />
  {% block skeletoncss %}{% endblock %}
  {% block skeletonlinks %}{% endblock %}
  {% block skeletonmeta %}{% endblock %}
</head>
<body>
  {% block skeletonprecontent %}{% endblock %}
  {% block skeletoncontent %}{% endblock %}
  {% block skeletonpostcontent %}{% endblock %}
</body>
</html>
