{% extends '_tmpl-standard.html' %}

{% block content %}
<h3 class="title">{{ page_title }}</h3>
{% for d in days %}
<section>
<h3 class="dateline">{{ d.date|date:"d F Y" }}</h3>
{% for story in d.updates %}
<div class="story">
    {% spaceless %}
    <div>{% include '_snippet-story-link.html' with story=story up_date=d.date %}</div>
    {% endspaceless %}
    {% spaceless %}
    <div>
      {% include '_snippet-story-by.html' with authors=story.author_list %}
      ({{ story.tag_abbrs|join:' ' }})
    </div>
    {% endspaceless %}
    <div><p>{{ story.synopsis }}</p></div>
</div>{% endfor %}
</section>
{% endfor %}
{% endblock %}
