# Blacklist everything by default.
*

# Necessary Files
!LICENSE
!Dockerfile
!Pipfile
!Pipfile.lock

# Django
!manage.py

# Production Settings
!settings/__init__.py
!settings/common.py
!settings/prod.py

# Modules
!storkive/
!library/
